html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: rgb(1,21,255);
    background: linear-gradient(90deg, rgba(1,21,255,1) 20%, rgba(255,0,0,1) 78%);
    font-family: 'Raleway', sans-serif;
}

.site-header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    color: gold;
}

.logo a {
    font-family: 'Tektur', cursive;
    font-size: 20px;
    text-decoration: none;
    color: gold;
}

.logo a:hover {
    color: rgba(255, 217, 0, 0.547);
}

.site-header-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.site-header-nav ul a {
    text-decoration: none;
    color: black;
}

.site-header-nav ul a:hover {
    color: gold;
}

.site-header-nav li {
    list-style: none;
    margin-right: 8px;
}

.follow-link {
    background-color: gold;
    padding: 12px 7px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    transition: background-color 0.5s ease-in-out;
}

.follow-link:hover {
    background-color: goldenrod;
    color: black;
}

/* main-bo'limi: Tarjima Kinolar */


.movies-h2 {
    color: white;
    font-size: 35px;
    margin: 50px 0 50px 372px;
}

.animes-parent {
    display: flex;
    margin-left: 30px;
}

.animes-people {
    margin-right: 20px;
    margin-bottom: 50px;
}

.animes-people img {
    border: 3px solid red;
    border-radius: 10px;
    transition: all 0.7s ease;
}

.animes-people img:hover {
    border: 3px solid #fff;
    opacity: 80%;
}

.movie-people-link {
    text-decoration: none;
    color: yellow;
    transition: color 0.5s ease-in-out;
}

.movie-people-link:hover {
    text-decoration: none;
    color: #fff;
}

/* main-bo'limi:Animelar*/

.movies2-h2 {
    color: white;
    font-size: 35px;
    margin-left: 362px;
}

.anime-parent {
    display: flex;
    margin-left: 30px;
}

.anime-people:hover {
    font-size: 20px;
}

.anime-people img {
    margin-right: 20px;
    border: 3px solid red;
    border-radius: 10px;
    transition: all 0.7s ease;
}

.anime-people img:hover {
    border: 3px solid #fff;
}

.anime-people a {
    margin-bottom: 50px;
    color: yellow;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.anime-people a:hover {
    color: #fff;
    opacity: 80%;
}

/* footer */

.site-footer-top {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.site-footer-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.site-footer-nav a{
    text-decoration: none;
    color: black;
    margin-right: 15px;
    transition: all 0.5s ease-in-out;
}

.site-footer-nav a:hover{
    color: gold;
}

.yordamchi-hr {
    width: 1100px;
    height: 5px;
    border: 0;
    border-radius: 10px;
    background: rgb(255,1,1);
    background: linear-gradient(90deg, rgba(255,1,1,1) 14%, rgba(255,246,0,1) 75%);
}

.site-footer-nav2 {
    display: flex;
    margin: 0;
    padding: 0;
}

.site-footer-nav2 li {
    list-style: none;
}

.site-footer-nav2 a {
    text-decoration: none;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

.site-footer-nav2 a:hover {
    text-decoration: none;
    color: yellow;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}
